@import '../public/assets/vendor/css/core.css';
@import url(https://db.onlinewebfonts.com/c/02fb003368979ba04752e4f3b4c4cebd?family=Graphik+Web+Semibold+Regular);
@import url(https://db.onlinewebfonts.com/c/105007d99d9df64c50cc24d696d79555?family=Graphik+Web+Regular+Regular);

@font-face {
  font-family: "Graphik Web Semibold Regular";
  src: url("https://db.onlinewebfonts.com/t/02fb003368979ba04752e4f3b4c4cebd.eot");
  src: url("https://db.onlinewebfonts.com/t/02fb003368979ba04752e4f3b4c4cebd.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/02fb003368979ba04752e4f3b4c4cebd.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/02fb003368979ba04752e4f3b4c4cebd.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/02fb003368979ba04752e4f3b4c4cebd.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/02fb003368979ba04752e4f3b4c4cebd.svg#Graphik Web Semibold Regular")format("svg");
}

@font-face {
  font-family: "Graphik Web Regular Regular";
  src: url("https://db.onlinewebfonts.com/t/105007d99d9df64c50cc24d696d79555.eot");
  src: url("https://db.onlinewebfonts.com/t/105007d99d9df64c50cc24d696d79555.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/105007d99d9df64c50cc24d696d79555.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/105007d99d9df64c50cc24d696d79555.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/105007d99d9df64c50cc24d696d79555.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/105007d99d9df64c50cc24d696d79555.svg#Graphik Web Regular Regular")format("svg");
}



.app-brand-logo.demo svg {
  width: 22px;
  height: 38px;
}

.app-brand-text.demo {
  font-size: 1.75rem;
  letter-spacing: -0.5px;
  text-transform: lowercase;
}

/* ! For .layout-navbar-fixed added fix padding top tpo .layout-page */
/* Detached navbar */
.layout-navbar-fixed .layout-wrapper:not(.layout-horizontal):not(.layout-without-menu) .layout-page {
  padding-top: 76px !important;
}

/* Default navbar */
.layout-navbar-fixed .layout-wrapper:not(.layout-without-menu) .layout-page {
  padding-top: 64px !important;
}

/* Navbar page z-index issue solution */
.content-wrapper .navbar {
  z-index: auto;
}

/*
* Content
******************************************************************************/

.demo-blocks>* {
  display: block !important;
}

.demo-inline-spacing>* {
  margin: 1rem 0.375rem 0 0 !important;
}

/* ? .demo-vertical-spacing class is used to have vertical margins between elements. To remove margin-top from the first-child, use .demo-only-element class with .demo-vertical-spacing class. For example, we have used this class in forms-input-groups.html file. */
.demo-vertical-spacing>* {
  margin-top: 1rem !important;
  margin-bottom: 0 !important;
}

.demo-vertical-spacing.demo-only-element> :first-child {
  margin-top: 0 !important;
}

.demo-vertical-spacing-lg>* {
  margin-top: 1.875rem !important;
  margin-bottom: 0 !important;
}

.demo-vertical-spacing-lg.demo-only-element> :first-child {
  margin-top: 0 !important;
}

.demo-vertical-spacing-xl>* {
  margin-top: 5rem !important;
  margin-bottom: 0 !important;
}

.demo-vertical-spacing-xl.demo-only-element> :first-child {
  margin-top: 0 !important;
}

.rtl-only {
  display: none !important;
  text-align: left !important;
  direction: ltr !important;
}

[dir='rtl'] .rtl-only {
  display: block !important;
}

/*
* Layout demo
******************************************************************************/

.layout-demo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 1rem;
}

.layout-demo-placeholder img {
  width: 900px;
}

.layout-demo-info {
  text-align: center;
  margin-top: 1rem;
}

/* Make clicks pass-through */
#nprogress {
  z-index: 100;
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;
  position: fixed;
  z-index: 1031000;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 100px;
}

/* Fancy blur effect */
#nprogress .peg {

  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  z-index: 1031000;
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  z-index: 1031000;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  z-index: 1031000;
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  z-index: 1031000;
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.react-calendar-datetime-picker .header {
  background-color: #6200ed !important;
}

.react-calendar-datetime-picker .daysList .is-today {
  box-shadow: inset 0px 0px 0px 2px #6200ed !important;
  color: #fff !important;
  background: #6200ed !important;
}

.react-calendar-datetime-picker .daysList .is-selected-day-from {
  background-color: #6200ed !important;
}

.react-calendar-datetime-picker .daysList .is-selected-day-to {
  background-color: #6200ed !important;
}

.react-calendar-datetime-picker .daysList .is-selected-day-range {
  background-color: #6200ed !important;
  color: white !important
}

.react-calendar-datetime-picker .input-picker .input-picker--input {
  height: 50px !important;
  border: 0;
}

.inputSelect .react-calendar-datetime-picker .input-picker .input-picker--input {
  text-align: right !important;
  padding-right: 20px;
  max-width: 500px;
}

.calender-modal {
  z-index: 500 !important;
}

.filterReports input {
  border: 2px solid #7b05d2 !important;
  border-radius: 50px !important;
}

@media (max-width:1200px) {
  .layout-navbar {
    position: sticky;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
    margin: 0 !important;
    border-radius: 0px !important;
  }

  .searchBartop {
    position: fixed;
    display: none;
    right: 10px;
    left: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: #ffffff92;
    top: 70px;
    z-index: 10000;
    backdrop-filter: blur(10px);
  }
}

@media (min-width:1200px) {
  .searchBartop {
    position: absolute;
    display: none;
    right: 10px;
    left: 300px;
    border-radius: 10px;
    padding: 10px;
    background-color: #ffffff92;
    top: 80px;
    z-index: 10000;
    backdrop-filter: blur(10px);
    max-width: 500px;
  }
}



/*pricing*/

.pricing-box {
  font-family: "Graphik Web Semibold Regular";
  margin-top: 30px;
  background-color: #fff;
  border-radius: 24px;
  padding: 25px;
  position: relative;
  width: min(90%, 1000px);
}

.pricing-box::after {
  background: url(https://kissflow.com/hubfs/KF%20Brand%20Home/pink-blob-pricing.png);
  background-repeat: no-repeat;
  background-size: contain;
  bottom: -140px;
  content: "";
  left: 60px;
  height: 281px;
  position: absolute;
  width: 253px;
  z-index: -1;
  rotate: 50deg;
  position: absolute;
}

.pricing_pink_bg {
  padding: 10px;
  background: linear-gradient(180deg, rgba(247, 223, 245, .4), rgba(247, 223, 245, 0) 98.53%);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  padding-bottom: 1.5rem !important;
  padding-top: 1.5rem !important;
}

.pricing_yellow_bg {
  padding: 10px;
  background: linear-gradient(180deg, hsla(38, 71%, 93%, .6), hsla(38, 71%, 93%, 0) 98.53%);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  padding-bottom: 1.5rem !important;
  padding-top: 1.5rem !important;
}

.pricing_blue_bg {
  padding: 10px;
  background: linear-gradient(180deg, rgba(236, 243, 255, .8), rgba(236, 243, 255, 0) 98.53%);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  padding-bottom: 1.5rem !important;
  padding-top: 1.5rem !important;
}

.text-pink {
  color: #c72c91 !important;
  line-height: 2rem;
  font-size: 1.4375rem;
  font-weight: bolder;
}

.text-earth {
  color: #f58220 !important;
  line-height: 2rem;
  font-size: 1.4375rem;
  font-weight: bolder;
}

.text-blue {
  color: #0565ff !important;
  line-height: 2rem;
  font-size: 1.4375rem;
  font-weight: bolder;
}

.enterprice {
  position: relative;
}

.enterprice:after {
  background: url(https://kissflow.com/hubfs/KF%20Brand%20Home/pricing-enterprice.svg);
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  height: 20px;
  position: absolute;
  right: auto;
  top: 0;
  width: 20px;
}

.pricing-text {
  font-size: 14px;
  letter-spacing: -.2px;
  line-height: 24px;
  min-height: 50px;
  color: #1d2b36 !important;
}

.price {
  color: #000;
  font-weight: bolder;
  font-size: 50px;
  text-align: center;
}

.h6.medium {
  font-size: 23px;
  transform: translate(-11px, -10px);
  display: inline-block;
}

@media only screen and (min-width: 300px) and (max-width: 699px) {
  small.pricing-user.pricing-text {
    display: inline-block;
    font-size: 12px;
    line-height: 18px !important;
  }
}

.pricing-btn {
  box-sizing: border-box;
  letter-spacing: -.4px;
  font-size: 1rem;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: .25rem;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  user-select: none;
  vertical-align: middle;
  border-color: #0565ff;
  color: #0565ff;
  line-height: 24px;
  padding: .5rem 1rem;
  padding-bottom: .5rem !important;
  padding-top: .5rem !important;
  width: 100%;
}

@media only screen and (min-width: 700px) and (max-width: 1024px) {
  .tab-center {
    align-items: center;
  }

  .price {
    text-align: left;
  }
}

ul.pricinglist li {
  font-weight: 600;
  font-size: 13px;
  margin-top: 7px;
  position: relative;
  list-style: none;
  text-align: left;
  padding-left: 12px;
}

ul.pricinglist li::before {
  content: ".";
  position: absolute;
  left: -20px;
  top: -2px;
  background: url('https://static.vecteezy.com/system/resources/previews/020/716/961/large_2x/3d-minimal-green-check-mark-symbol-correct-sign-get-a-green-light-concept-approved-accepted-ok-accepted-right-cartoon-hand-with-a-green-check-mark-icon-3d-illustration-png.png') no-repeat center center/cover;
  min-width: 20px;
  min-height: 20px;
  border-radius: 16px;
  color: white;
  scale: .8;
}

#home-header {
  position: sticky;
  /* padding-top: 7px; */
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  z-index: 20;

  backdrop-filter: blur(14px) saturate(200%);

}

.nav-showing {
  margin-top: 0% !important;
}

.nav-links-container {
  transition: all 0.3s;
  background-color: #fff;
  width: 100%;
  margin-top: -100%;
}

#home-header * {
  transition: 0.3s all;
}

.nav-bar {
  width: 100%;
  max-width: 700px;
  margin-inline: auto;
  color: #09031a;
  font-weight: bolder;
  background-color: #fff;
  z-index: 5;
  box-shadow: 0 100px 80px rgba(0, 0, 0, .01),
    0 64.8148px 46.8519px rgba(0, 0, 0, .008),
    0 38.5185px 25.4815px rgba(0, 0, 0, .006),
    0 20px 13px rgba(0, 0, 0, .005),
    0 8.14815px 6.51852px rgba(0, 0, 0, .004),
    0 1.85185px 3.14815px rgba(0, 0, 0, .002);
}

.main-links-container {
  display: flex;
  gap: 30px;
  margin-left: auto;
  align-items: center;
}

.nav-links-container .links {
  border-bottom: 1px solid #e5e9ec;
  padding: 17px;
  max-width: 700px;
  margin-inline: auto;
  color: #000;
  font-weight: 400;
}

.full-height {
  width: 100%;
  min-height: calc(100vh);
  height: auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-button {
  width: min(90%, 300px);
  margin-inline: auto;
  margin-top: 50px;
  position: relative;
}

.home-button::after {
  background: url(https://kissflow.com/hubfs/kissflow-branding-images/highlighter.svg);
  background-repeat: no-repeat;
  content: "";
  height: 30px;
  position: absolute;
  right: -28px;
  top: -24px;
  width: 30px;

}

.full-height h1 {
  font-size: 3.5rem;
  font-weight: 100;
}

.full-height .span,
.gardient {
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shine 3s linear infinite;
  animation: shine 3s linear infinite;
  background: linear-gradient(90deg, #0565ff 20%, #d341a5 40%, #d341a5 60%, #0565ff 80%);
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 200% auto;
  color: #0565ff;
  font-weight: 500;
  font-family: "Graphik Web Semibold Regular";
}

@keyframes shine {
  100% {
    background-position: 200%;
  }
}

.links-main {
  display: none;
}

@media (min-width:700px) {
  #nav-bar-icon {
    display: none;
  }

  .nav-bar {
    max-width: 100%;
  }

  .nav-links-container .links {
    margin-left: auto;
    display: none;
  }

  .links-main {
    display: block;
  }

}






#page-details {
  margin-top: 100px;
  margin-bottom: 64px;
  color: #000;
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Graphik Web Semibold Regular";
  width: 80%;
  text-align: center;
  margin-inline: auto;
}

#home-header h4 {
  font-weight: 700;
  margin-bottom: 0.25rem;
  margin-top: 0;
  letter-spacing: -.6px;
  color: #000;
  letter-spacing: 0.05rem;
}

.divider-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 70vh;
  background-color: #dfecfd;
  z-index: -1;
}

.whatusersays {

  border-radius: 10px;
  margin-inline: 10px;
  max-width: 400px;
  background: #fff;
  padding: 50px;
  /* display: inline-block; */
}

.whatusersays p {
  text-align: center;
  color: #000;
}

.splide {
  margin-inline: auto;
}

.home-row {
  display: flex;
  justify-content: space-between;
  gap: 90px;
  align-items: stretch;

}

.home-row .flex-box {
  width: 100%;
  align-self: stretch;
  height: 100%;
  align-self: flex-start;
  border-radius: 10px;
  height: 200px;
}

.home-row .card {
  height: calc(20vw);
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid blue;
  border: 1px solid rgba(0, 42, 255, 0);
  transition: 0.5s all;
}

.home-row .card:hover {
  border: 1px solid blue;
}

.home-row .flex-box h5 {
  font-weight: lighter;
}

.nextui-collapse-title-content h3 {
  font-size: 18px;
}

@media (max-width:1000px) {

  .home-row,
  .full-height.contact-us {
    display: flex;
    flex-direction: column !important;
  }

  #faq {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
  }
}

.serprator {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.splide__arrows {
  translate: 0px 250px 0px;
  z-index: 500;
}

.full-height.contact-us .flex-box {
  max-width: 500px;
}

.flex-box .bx {
  font-size: 55px;
  margin-bottom: 50px;
  border-radius: 50px;
  border: 2px solid #ffc107;
  color: #fff;
  background-color: #ffc107;
  padding: 20px;
}

.flex-box .bx.bxl-telegram {
  font-size: 55px;
  margin-bottom: 50px;
  border-radius: 50px;
  border: 2px solid #076eff;
  color: #fff;
  background-color: #076eff;
  padding: 20px;
}

.telegarm-icon {
  color: #076eff;
}

.email-icon {
  color: #ffc107;
}

.aboutUs-page h2::first-letter {
  /* color: rgb(0, 119, 255); */
  font-size: larger;
}

.aboutUs-page h2 {
  color: rgb(6, 40, 79);
}

.aboutUs-page h2 span {
  color: rgb(0, 17, 255);
}

.aboutUs-page h2 i {
  color: rgb(0, 17, 255);
  font-size: larger;
}

.countdown span {
  background: #c29cf381;
  padding: 10px;
  border-radius: 10px;
  color: #8b2ae1;
  float: right;
  position: absolute;
  top: 15px;
  right: 10px;
}